@model webviews.Models.ViewModels.MorrisComissionViewModel;

<div class="col-md-7 col-4 align-self-center">
    <div class="d-flex m-t-10 justify-content-end">
        <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
                <h6 class="m-b-0"><small>Nesse mês</small></h6>
                <h4 class="m-t-0 text-info">R$  @Model.ValueThisMonth</h4></div>
            <div class="spark-chart">
                <div id="monthchart"></div>
            </div>
        </div>
        <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
                <h6 class="m-b-0"><small>Mês passado</small></h6>
                <h4 class="m-t-0 text-primary">R$ @Model.ValueLastMonth</h4></div>
            <div class="spark-chart">
                <div id="lastmonthchart"></div>
            </div>
        </div>
        <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
</div>

@section Scripts{

<script>
$(function () {
    $('#monthchart').sparkline([@Model.ListThisMonth[0], @Model.ListThisMonth[1], @Model.ListThisMonth[2], @Model.ListThisMonth[3]], {
        type: 'bar',
        height: '35',
        barWidth: '4',
        resize: true,
        barSpacing: '4',
        barColor: '#1e88e5'
    });
    $('#lastmonthchart').sparkline([@Model.ListLastMonth[0], @Model.ListLastMonth[1], @Model.ListLastMonth[2], @Model.ListLastMonth[3]], {
        type: 'bar',
        height: '35',
        barWidth: '4',
        resize: true,
        barSpacing: '4',
        barColor: '#7460ee'
    });
});
    </script>
}