@{
    Layout = "_LayoutBlank";
    ViewData["Title"] = "Login";
    //ViewData["Module"] = "Landpage";
    var loginFailed = TempData["UserLoginFailed"];
}

@model webviews.Models.Administration.UserModel;

<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login_1.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="register" asp-controller="Access" asp-action="Register" method="post">
                <a href="javascript:void(0)" class="text-center db"><img src="~/assets/images/logos/calypso_0.png" alt="Home" /><br /><img src="~/assets/images/logos/firebox_107x18.png" alt="Firebox" /></a>
                <div class="form-group  m-t-40">
                    <div class="col-xs-12">
                      <input asp-for="@Model.User" placeholder="@Html.DisplayNameFor(m => m.User)" class="form-control">
                      <span asp-validation-for="@Model.User" class="text-danger"></span>
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                      <input asp-for="@Model.FullName" placeholder="@Html.DisplayNameFor(m => m.FullName)" class="form-control">
                      <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                  </div>
                </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input asp-for="@Model.Email" placeholder="@Html.DisplayNameFor(m => m.Email)" class="form-control">
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input asp-for="@Model.Passwd" placeholder="@Html.DisplayNameFor(m => m.Passwd)" class="form-control">
            <span asp-validation-for="@Model.Passwd" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" id="Passwv" type="password" required="" placeholder="Confirme @Html.DisplayNameFor(m => m.Passwd)" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input asp-for="@Model.Terms">
              <label asp-for="@Model.Terms"> Eu aceito todos os <a href="#">@Html.DisplayNameFor(m => m.Terms)</a></label>
              <span asp-validation-for="@Model.Terms" class="text-danger"></span>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Já tem a conta? <a asp-action="Login" class="text-info m-l-5"><b>Acessar</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

@section Scripts{
    <script>
      $( document ).ready(function(event) {
        
        $("#register").submit(function( event ) {
          var passd = $('#Passwd').val();
          var passv = $('#Passwv').val();
          var chked = $('#Terms').is(':checked');

          if(passd != passv){
            alert("Senha não confere.");
            return false;
          }

          if(!chked){
            alert("Por favor leia e aceite os termos.");
            return false;
          }

          return true;
          
          //event.preventDefault();
        });
      });
    </script>
}