
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <title>@ViewData["Title"]</title>
    @** Bootstrap Core CSS **@
    @** HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries **@
    @** WARNING: Respond.js doesn't work if you view the page via file:// **@
    @**[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]**@

    <partial name="_Links"/>
    @RenderSection("Styles", required: false)
</head>

<body class="fix-header fix-sidebar card-no-border">
    @** ============================================================== **@
    @** Preloader - style you can find in spinners.css **@
    @** ============================================================== **@
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    @** ============================================================== **@
    @** Main wrapper - style you can find in pages.scss **@
    @** ============================================================== **@
    <div id="main-wrapper">
        @** ============================================================== **@
        @** Topbar header - style you can find in pages.scss **@
        @** ============================================================== **@
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                @** ============================================================== **@
                @** Logo **@
                @** ============================================================== **@
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        @** Logo icon **@
                        <b>
                            @**You can put here icon as well // <i class="wi wi-sunset"></i> //**@
                            @** Dark Logo icon **@
                            <img src="~/assets/images/logos/logo-notext.png" alt="homepage" class="dark-logo" />
                            @** Light Logo icon **@
                            <img src="~/assets/images/logos/logo-notext.png" alt="homepage" class="light-logo" />
                        </b>
                        @**End Logo icon **@
                        @** Logo text **@
                        <span>
                         @** dark Logo text **@
                         <img src="~/assets/images/logos/logo-text.png" alt="homepage" class="dark-logo" />
                         @** Light Logo text **@    
                         <img src="~/assets/images/logos/logo-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                @** ============================================================== **@
                @** End Logo **@
                @** ============================================================== **@
                @await Component.InvokeAsync("Header")
            </nav>
        </header>
        @** ============================================================== **@
        @** End Topbar header **@
        @** ============================================================== **@
        @** ============================================================== **@
        @** Left Sidebar - style you can find in sidebar.scss  **@
        @** ============================================================== **@
        <aside class="left-sidebar">
            @** Sidebar scroll**@
            <div class="scroll-sidebar">
                @** User profile **@
                @await Component.InvokeAsync("UserProfile")
                @** End User profile text**@
                @** Sidebar navigation**@
                @await Component.InvokeAsync("MenuNavegation")
                @** End Sidebar navigation **@
            </div>
            @** End Sidebar scroll**@
            @** Bottom points**@
            <div class="sidebar-footer">
                @** item**@
                <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
                @** item**@
                <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                @** item**@
                <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
            </div>
            @** End Bottom points**@
        </aside>
        @** ============================================================== **@
        @** End Left Sidebar - style you can find in sidebar.scss  **@
        @** ============================================================== **@
        @** ============================================================== **@
        @** Page wrapper  **@
        @** ============================================================== **@
        <div class="page-wrapper">
            @** ============================================================== **@
            @** Container fluid  **@
            @** ============================================================== **@
            <div class="container-fluid">
                @** ============================================================== **@
                @** Bread crumb and right sidebar toggle **@
                @** ============================================================== **@
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">@ViewData["Title"]</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                @if(ViewData["Action"] != null) {
                                <a  asp-controller="@ViewData["Controller"]"
                                    asp-action="@ViewData["Action"]">
                                    @ViewData["Module"]
                                </a>
                                } else {
                                    <a href="javascript:void(0)">@ViewData["Module"]</a>
                                }
                            </li>
                            <li class="breadcrumb-item active">@ViewData["View"]</li>
                        </ol>
                    </div>
                    @** ============================================================== **@
                    @** Resumo das comissões **@
                    @await Component.InvokeAsync("MorrisComission")
                    @** ============================================================== **@

                </div>
                @** ============================================================== **@
                @** End Bread crumb and right sidebar toggle **@
                @** ============================================================== **@
                @** ============================================================== **@
                @** Start Page Content **@
                @** ============================================================== **@
                <div class="row">
                    <div class="col-12">
                        @RenderBody()
                    </div>
                </div>
                @** ============================================================== **@
                @** End PAge Content **@
                @** ============================================================== **@
                @** ============================================================== **@
                @** Right sidebar **@
                @** ============================================================== **@
                @** .right-sidebar 
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="~/assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>**@
                @** ============================================================== **@
                @** End Right sidebar **@
                @** ============================================================== **@
            </div>
            @** ============================================================== **@
            @** End Container fluid  **@
            @** ============================================================== **@
            @** ============================================================== **@
            @** footer **@
            @** ============================================================== **@
            <footer class="footer"> © 2018 Kurumin Solutions </footer>
            @** ============================================================== **@
            @** End footer **@
            @** ============================================================== **@
        </div>
        @** ============================================================== **@
        @** End Page wrapper  **@
        @** ============================================================== **@
    </div>
    @** ============================================================== **@
    @** End Wrapper **@
    @** ============================================================== **@
    @** ============================================================== **@
    @** All Jquery **@
    @** ============================================================== **@
        

    @RenderBody()
    
    <span class="skype-button bubble " data-contact-id="blfagundes_3"></span>
    <script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

    <partial name="_Scripts"/>
    @RenderSection("Scripts", required: false)
    </body>
</html>

